.post {
	background-color: #1c1c1c;
	padding: 12px;
	border-radius: 12px;
	margin-bottom: 20px;
}

.title {
    margin-bottom: 22px;
}

.post img {
	display: block;
  	width: 100%;
  	border-radius: 6px;
  	object-fit: cover;	
  	object-position: top;
  	margin-bottom: 0px;
}

h1 {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.post .date {
	margin-top: 0px;
	margin-bottom: 10px;
}
