@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Instrument+Serif:ital@0;1&display=swap');

@font-face {
    font-family: Futura;
    src: url("fonts/futura/light.ttf");
}

/* === Global variables === */
:root {
  --big-title-font: "Codystar";
  --title-font: "Instrument Serif";
  --text-font: "Futura";
  --mono-font: "Jetbrains Mono";
  --accent-color: #B0FFFA;
  --secondary-accent-color: #5C9E9A;
  --background-color: #000;
  --text-color: #ccc;
  --bold-color: #fff;
  --title-color: #fff;
}

body {
  font-weight: 300;
  font-family: var(--text-font);
  font-size: 22px;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: var(--text-color);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.container {
  max-width: 700px;
  margin: auto;
  box-sizing: border-box;
}

h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 400;
}

h1 {
  font-family: var(--big-title-font);
  color: var(--title-color);
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
}

p, a, ul, li {
  font-family: var(--text-font);
  margin-top: 0px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p, a, ul {
  margin-bottom: 30px;
}

p {
  margin-bottom: 30px;
}

code {
  font-family: var(--mono-font);
  font-size: 16px;
  color: var(--text-color);
}

b, strong {
  font-weight: 600;
  color: var(--bold-color) !important;
}

a {
  font-family: var(--text-font);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  font-weight: bold;
  color: var(--secondary-accent-color);
}

img {
  display: block;
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 15px;
}

.back-link {
  display: block;
  margin-bottom: 18px;
}
