@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Codystar:wght@300;400&family=IM+Fell+Great+Primer:ital@0;1&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Instrument+Serif:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Joan&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* === Global variables === */
:root {
  --big-title-font: "Codystar";
  --title-font: "Instrument Serif";
  --text-font: "IM Fell Great Primer";
  --mono-font: "Jetbrains Mono";
  --accent-color: #B0FFFA;
  --secondary-accent-color: #5C9E9A;
  --background-color: #000;
  --text-color: #ccc;
  --bold-color: #fff;
  --title-color: #fff;
}

body {
  font-family: var(--text-font);
  font-size: 20px;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: var(--text-color);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.container {
  max-width: 700px;
  margin: auto;
  box-sizing: border-box;
}

h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 400;
}

h1 {
  font-family: var(--big-title-font);
  color: var(--title-color);
  font-weight: 500;
  font-size: 40px;
  margin: 0 !important;
}

p, a, ul, li {
  font-family: var(--text-font);
  margin-top: 0px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p, a, ul {
  margin-bottom: 30px;
}

p {
  margin-bottom: 30px;
}

code {
  font-family: var(--mono-font);
  font-size: 16px;
  color: var(--text-color);
}

b, strong {
  font-weight: 600;
  color: var(--bold-color) !important;
}

a {
  font-family: var(--text-font);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  font-weight: bold;
  color: var(--secondary-accent-color);
}
