@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Codystar:wght@300;400&family=IM+Fell+Great+Primer:ital@0;1&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

/* === Global variables === */
:root {
  --title-font: "Codystar";
  --text-font: "IM Fell Great Primer";
  --mono-font: "Bitcount Grid Single";
  --accent-color: #B0FFFA;
  --secondary-accent-color: #5C9E9A;
  --background-color: #000;
  --text-color: #ccc;
  --bold-color: #fff;
  --title-color: #D8F2F1;
}

body {
  font-family: var(--text-font);
  font-size: 22px;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: var(--text-color);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.container {
  max-width: 780px;
  margin: auto;
  box-sizing: border-box;
}

h2, h3, h4, h5, h6 {
  color: var(--title-color);
}

h1 {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 30px;
}

p, a, ul, li, code {
  font-family: var(--text-font);
  margin-top: 16px;
  line-height: 1.6rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p, a, ul {
  margin-bottom: 30px;
}

p {
  margin-bottom: 30px;
}

code {
  font-family: var(--mono-font) !important;
  font-size: 20px;
  color: var(--text-color);
}

b, strong {
  font-weight: 600;
  color: var(--bold-color) !important;
}

a {
  font-family: var(--text-font);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  font-weight: bold;
  color: var(--secondary-accent-color);
}

br {
  margin-bottom: 14px !important; 
}

