.post {
	background-color: #1c1c1c;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.post img {
	display: block;
  	width: 100%;
  	aspect-ratio: 21 / 9;
  	border-radius: 6px;
  	object-fit: cover;	
  	object-position: top;
  	margin-bottom: 15px;
}

.post .title {
	margin-bottom: 15px;
}

.post .date {
	margin-bottom: 0px;
}
