.post {
	background-color: #1c1c1c;
	padding: 12px;
	border-radius: 12px;
	margin-bottom: 20px;
}

.post img {
	display: block;
  	width: 100%;
  	aspect-ratio: 21 / 9;
  	border-radius: 6px;
  	object-fit: cover;	
  	object-position: top;
  	margin-bottom: 15px;
}

h1 {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.post .date {
	margin-top: 5px;
	margin-bottom: 0px;
}
