.idea {
	background-color: #1c1c1c;
	padding: 12px;
	border-radius: 12px;
	margin-bottom: 20px;
}

.idea img {
	display: block;
  	width: 100%;
  	border-radius: 6px;
  	object-fit: cover;	
  	object-position: top;
  	margin-bottom: 12px;
}

.title {
  color: var(--title-color);
  font-family: var(--text-font);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 12px;
}

.idea p {
	margin-bottom: 12px !important;
}