body {
	background-image: url("index.png");
	background-position: top;
}

li {
	margin-bottom: 14px !important;
}

ul {
	padding: 0 !important;
	list-style-type: none !important;
}

h1 {
	margin-bottom: 15px !important;	
}

/*
Source - https://stackoverflow.com/a
Posted by Michael Benjamin, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-03, License - CC BY-SA 4.0
*/
.items-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
}

@media (max-width: 480px) {
    .items-container {
        grid-template-columns: 1fr 1fr; /* Two equal-width columns */
        grid-auto-flow: dense; /* Optional: Helps fill gaps */
    }
}