body {
	background-image: url("index.png");
	background-position: top;
}

li {
	margin-bottom: 14px !important;
}

ul {
	padding: 0 !important;
	list-style-type: none !important;
}

h1 {
	margin-bottom: 15px !important;	
}

.items-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.item {
    text-align: left;
    flex-basis: 100%;
}

@media (max-width: 500px) {
    .item {
        flex-basis: 50%;
    }
}

@media (min-width: 500px) {
    .item {
        flex-basis: 33%;
    }
}