body {
	background-image: url("index.png");
	background-position: top;
}

li {
	margin-bottom: 14px !important;
}

ul {
	padding: 0 !important;
	list-style-type: none !important;
}

h1 {
	margin-bottom: 15px !important;	
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
