.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
  display: block;
}

/* landscape = take two columns */
.gallery img.landscape {
  grid-column: span 2;
}

/* optional portrait style (visual balance) */
.gallery img.portrait {
  aspect-ratio: 3 / 4;
}

h1 {
	margin-top: 15px !important;
	font-family: var(--title-font) !important;
}

.header {
	margin-bottom: 30px !important;
}


