.thumbnail img {
	display: block;
  	width: 100%;
  	aspect-ratio: 21 / 9;
  	border-radius: 6px;
  	object-fit: cover;	
  	object-position: top;
  	margin-bottom: 15px;
  	margin-top: 15px;
}

h1 {
	font-family: var(--title-font) !important;
	margin: 0 !important;

.header {
	margin-bottom: 30px;
}
